/*<!--//////////// FONT \\\\\\\\\\\\ -->*/


/**************************/
/****** GLOBAL ************/
/**************************/
* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: black
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/**************************/
/****** WEIGHT ************/
/**************************/
.font-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}
.font-subtitle {
    margin: 0;
    font-size: 16px;
}
.font-weight{
    font-weight: 700;
}
.font-btn__desktop {
    font-size: 17px;
    font-weight: 700;
}
.font-search {
    font-size: 18px;
    font-weight: 700;
}
.card-title {
    font-size: 16px;
}

/**************************/
/****** MODIFIER **********/
/**************************/
ol{
    padding: 0;
}


.fa-solid {
    color: var(--main-color);
}
.neutralStar {
    color: var(--main-bg-color)
}
.fa-location-dot{
    color: black;
}
.fa-magnifying-glass{
    color: white;
}
