/*<!--//////////// STYLE \\\\\\\\\\\\ -->*/

/**************************/
/****** GLOBAL ************/
/**************************/
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card img {
    -o-object-fit: cover;
       object-fit: cover;
}


/**************************/
/****** EFFETS ************/
/**************************/
html {
	scroll-behavior: smooth;
}
.card, .card-act{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
;
}
.card:hover, .card-act:hover{
  -webkit-box-shadow:
  0.3px 0.3px 2.2px rgba(0, 0, 0, 0.109),
  1.1px 1.1px 7.4px rgba(0, 0, 0, 0.161),
  20px 20px 33px rgba(0, 0, 0, 0.27)
;
          box-shadow:
  0.3px 0.3px 2.2px rgba(0, 0, 0, 0.109),
  1.1px 1.1px 7.4px rgba(0, 0, 0, 0.161),
  20px 20px 33px rgba(0, 0, 0, 0.27)
;
}

.hover__btn{
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  ;
}
.hover__btn:hover{
    background-color: #DEEBFF;
}
.hover__txt{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.hover__txt:hover{
    text-decoration: underline;
}
/******************************/
/****** HEADER NAV ************/
/******************************/
.header-{
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-DivBtn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.header-logo{
    width: 72px;
    padding-top: 30px;
}
.header-btn{
    padding-top: 30px;
    margin: 0px 35px 0px 35px;
}
.header-btn{
    width: 150px;
    text-align: center;
}
.header-btn:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}
.header-, .font-subtitle {
    padding-top: 5px;
}

/**************************************/
/****** BARRE DE RECHERCHE ************/
/**************************************/
.search-cont{
    margin: 40px 0 40px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px var(--main-bg-color) solid;
    border-radius: 21px;
}
.search-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 50px;
    background-color: var(--main-bg-color);
    padding: 0 3px 0 3px;
}
.submit-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    padding: 0 3px 0 3px;
    cursor: pointer;
}
.search-txt{
    border: none;
    padding: 0 15px 0 15px;
}
.search-btn{
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    border: none;
    padding: 0 15px 0 15px;
    color: white;
    cursor: pointer;
}

/***************************/
/****** FILTRES ************/
/***************************/
.filters-cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 40px 0;
}
.filters-btn{
    margin: 0 0 0 15px;
    padding: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: #F2F2F2 3px solid;
    border-radius: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
}
.filters-btn:hover{
    background-color: var(--filter-bg-color);
}
.filters-btn a {
    padding: 0 0 0 10px;
}

/*********************************/
/****** RESULTAT FILTRE **********/
/*********************************/
.ResultSearch-cont{
    margin: 0 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ResultSearch-cont i{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    border-radius: 50%;
    border: var(--main-bg-color) solid 1px;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    font-size: 12px;
    
}

/***************************************/
/****** HEBERGEMENTS GLOBAL ************/
/***************************************/
.hebergements-and-populaires {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/*******************************/
/****** HEBERGEMENTS ************/
/*******************************/
.hebergements {
    width: 65%;
}
.hebergements-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.hebergements-cards .card {
    width: 243px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 33px;
}
.hebergements-cards img {
    width: 243px;
    height: 134px;
    border-radius: 20px 20px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 10px 0 10px 0;
}
.hebergements-cards .card-subtitle {
    margin: 0 0 5px 0;
}
.hebergements-link {
    margin: 30px 0 0 0;
}


/*****************************/
/****** POPULAIRES ************/
/*****************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.populaires-cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 148px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****************************/
/****** ACTIVITES ************/
/*****************************/
.activity .font-title{
    margin: 70px 0 40px 0;
}
.activity-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    column-gap: 5px;
    width: 100%;
}
.activity-cards .card{
    width: 295px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.card-act {
    background-color: white;
    border-radius: 20px;
    -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activity-cards .card-content {
    padding-left: 15px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.activity-cards img {
    width: 295px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
}

/**************************/
/****** FOOTER ************/
/**************************/
footer{
    margin-top: 60px;
    padding-bottom: 40px;
    padding: 0px 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--main-bg-color);
}
footer ul{
    margin-right: 150px;
}
footer li{
    padding-top: 20px;
    cursor: pointer;
}